#root {
  width: "100vw";
  height: "100vh";
  padding: 0;
  margin: 0;
  /* background: rgb(241, 171, 50);
  background: linear-gradient(229deg, rgba(241, 171, 50, 1) 12%, rgba(207, 57, 127, 1) 50%, rgba(93, 21, 121, 1) 87%); */
  background: #181818;
  font-family: "Marhey", sans-serif;
  /* overflow: hidden; */
}


/* @keyframes colors {
  100% {
    filter: hue-rotate(360deg);
  }
} */

.avatars-container::-webkit-scrollbar {
  background-color: rgb(196, 200, 205);
  width: 13px;
  border: 0px solid white;
  border-radius: 10px;
}

.avatars-container::-webkit-scrollbar-thumb {
  background: #2861bb;
  border-radius: 10px;
}

.avatars-container {
  display: none;
}